<!DOCTYPE html>
{% load static %}
{% include "Navbar.html" %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Purchase Amazing Appliances</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{%static 'Main.css' %}">
   <style type="text/css">
        .w-55{
              width: 35%;
              }
    .mt-56{
           margin-top: 8%;
           }
   </style>
</head>
<body class="bg-cl">
	
<!-- Start of Login Page -->
<div class="bg-light p-5 mx-auto mt-56 rounded w-55" >
  <h1 class="text-center mb-5"style="color: #ff7477;">Login</h1>
  <form method="POST" action=" ">
  {% csrf_token %}
    <div class="mb-3 ">
  <input type="text" class="form-control rounded-pill w-75  mx-auto" id="Email" name="em"  placeholder="Email Address">
 </div>
          <div class="mb-3 ">
  <input type="password" class="form-control rounded-pill w-75 mx-auto" id="pass" name="pw"  placeholder="Password">
 </div>
 
 <table class="table mx-auto table-light table-borderless" style="width: 80%;">
  <tr><td><div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
   Remember me.
  </label>
</div>
</td>
<td>
  <div class=" fw-bold"><small><a class=" text-decoration-none" style="color:#ff7477;" href="{%static 'Change_pass.html' %}">FORGOT PASSWORD?</a></small></div>
</td>
  </tr>

 </table>
 <button type="submit" class="btn  mx-auto d-block rounded-pill w-75 " style="background-color:#9cf6f6">Login</button>
 <div class=" fw-bold text-center mt-3" ><small>Don't have an account ? <a class=" text-decoration-none " style="color:#ff7477" href="Register.html">Click here.</a></small></div>

      
    </div>

  </form>
</div>

</body>
</html>